.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
  overflow: hidden;
  height: 75vh;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  font-size: 1.25rem;
}

.card-body {
  padding: 15px;
}

.scroll-container {
  max-height: px;
  overflow-y: auto;
  margin-top: 10px;
}

.list-group-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-container input {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-container input:focus {
  border-color: #6199e1;
  box-shadow: 0 0 5px #6199e1;
}


/* .scroll-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
  }
  
  .scroll-box {
    max-height: 150px;
    overflow-y: scroll;
    margin-top: 10px;
  }
  
  .search-container input {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-container input:focus {
    border-color: #6199e1;
    box-shadow: 0 0 5px #6199e1;
  }
   */